{% load static %} {% load humanize %}

<div class="flex justify-center">
  <div class="relative shadow-md sm:rounded-lg p-6 rounded-sm bg-white dark:bg-gray-800 mt-5 sm:w-6/12 w-full">
    <div class="flex justify-between mb-6 items-center ">
      <h1 class="text-2xl font-bold dark:text-white">
        Ver Ticket
      </h1>
      <button type="button" onclick="closeWatchTicket()" class="text-gray-600 hover:text-red-800 dark:text-gray-300">
        <h1 class="text-2xl" style="font-family: 'Roboto', sans-serif;">
          X
        </h1>
      </button>
    </div>
    <div class="space-y-4 dark:text-white">
      <h2>Tipo de Pedido: {{ ticket.tipo }}</h2>
      {% if ticket.cliente %}
      <h2>Cliente: {{ ticket.cliente }}</h2>
      {% else %}
      {% endif %}
      {% if ticket.mesa %}
      <h2>Mesa: {{ ticket.mesa }}</h2>
      {% else %}
      {% endif %}
      {% if ticket.celular %}
      <h2>Celular: {{ ticket.celular }}</h2>
      {% else %}
      {% endif %}
      {% if ticket.observacion %}
      <h2>Observaciones: {{ ticket.observacion }}</h2>
      {% else %}
      {% endif %}
      <h2>Cocina: {{ ticket.estado }}</h2>
      <h2>Caja: {{ ticket.caja }}</h2>
      <div class="mt-4 flex flex-col gap-4">
        <h2 class="text-2xl font-bold">Total: {{ ticket.get_total|intcomma }} Gs.</h2>
        <h2 class="text-lg font-bold">Productos</h2>
        <table class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-white">
          <thead >
            <tr>
              <th class="px-4 py-3">Producto</th>
              <th class="px-4 py-3">Cantidad</th>
              <th class="px-4 py-3">Precio</th>
            </tr>
          </thead>
          <tbody class="text-center dark:text-gray-400">
            {% for i in items %}
            <tr>
              <td class="px-4 py-3">{{ i.producto.nombre }}</td>
              <td class="px-4 py-3">{{ i.cantidad }}</td>
              <td class="px-4 py-3">{{ i.producto.precio|intcomma }} Gs.</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      </div>
      {% if ticket.caja != "COBRADO" %}
      <div>
        <button type="button"onclick="cobrarTicket({{ ticket.id }})" class="mt-4 px-4 py-2 bg-green-500 text-white rounded cursor-pointer float-right">Cobrar</button>
      </div>
      {% else %}
      <p class="text-2xl text-center mt-4">Ticket Cobrado</p>
      {% endif %}
    </div>
  </div>
</div>
<script>
  function getCookie(name) {
  let cookieValue = null;
  if (document.cookie && document.cookie !== "") {
    const cookies = document.cookie.split(";");
    for (let i = 0; i < cookies.length; i++) {
      const cookie = cookies[i].trim();
      if (cookie.substring(0, name.length + 1) === name + "=") {
        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        break;
      }
    }
  }
  return cookieValue;
}
  function closeWatchTicket(){
    window.close();
  }
  function cobrarTicket(ticketId){
    console.log(ticketId);
    const url = `/cambiarCajaCobrado/${ticketId}/`;
    fetch(url, {
      method: "GET",
      headers: {
        "X-CSRFToken": getCookie("csrftoken"),
      },
    })
    .then((response) => {
      if (response.ok) {
        // Recarga la página después de eliminar
        window.close();
      } else {
        alert("Error al cambiar la caja");
      }
    })
    .catch((error) => {
      console.error("Error:", error);
      alert("Error al cambiar la caja");
    });
    
  }
</script>
